:root {
  --headline_color_yellow: rgb(255, 213, 0);
  --headline_color_blue: rgb(0, 0, 195, 0.7);
}

@font-face {
  font-family: "PokemonFont";
  src: url("../Fonts/Pokemon\ Solid.ttf") format("truetype");
}

body {
  background-image: url('../Assets/Background/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  align-items: center;
  text-align: center;
}

footer a {
  gap: 40px;
  color: rgb(238, 255, 0);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.headline_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "PokemonFont";
  margin-bottom: 2rem;
  height: auto;
}

.headline {
  position: static;
  margin: 0 0 1rem 0;
  text-shadow: 10px 10px 10px var(--headline_color_blue);
}

.yellow {
  color: var(--headline_color_yellow);
  font-size: 5rem;
}

/*Schoolmon Box in der sich die Infos befinden*/
.schoolmon_box {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #f3f3f3;
  border-radius: 5%;
  max-width: 1000px;
  margin: 2rem auto;
}

.image_column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.schoolmon_image {
  width: 500px;
  height: auto;
  border-radius: 10%;
}

.diagramm_image {
  height: 300px;
  width: 500px;
  border-radius: 10%;
}

.text_area {
  flex: 1;
  font-size: large;
  font-family: Arial, sans-serif;
}

.short_info {
  display: flex;
  gap: 100px;
  background-color: #538cff;
  border-radius: 10px;
}

.short_info_list {
  list-style: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  width: fit-content;
}

.short_info_list li:first-child {
  margin-top: 1.2rem;
}

.short_info_list li:nth-child(odd) {
  margin-bottom: 0.8rem;
  color: white;
}

.short_info_list li:nth-child(even) {
  margin-bottom: 1.2rem;
  color: black;
}

.bottom_image {
  display: block;
  margin: 2rem auto;
  width: 500px;
  border-radius: 15px;
}

.boxabilities {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  padding-left: 20px;
}

/* Infobox zu Fähigkeiten und Attacken */
.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip_text {
  visibility: hidden;
  width: 400px;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 120%;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s;
  white-space: normal;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

/*Karten*/
.card_box {
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  gap: 10px;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: auto;
  border-radius: 3%;
}

.card:hover {
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

/* Karte in groß */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Animation beim Klicken */
.lightbox:target {
  opacity: 1;
  pointer-events: auto;
}

/* Schließen-Button */
.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Geschlecht */
.geschlecht {
  font-family: 'Segoe UI Symbol';
  font-weight: bold;
  font-size: 2rem;
}

/* Typen */
.natur {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(0, 120, 0);
  background-color: rgb(0, 120, 0);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(0, 120, 0, 0.7);
}

.fight {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(182, 118, 0);
  background-color: rgb(182, 118, 0);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(182, 118, 0, 0.7);
}

.fire {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(255, 47, 0);
  background-color: rgb(255, 47, 0);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 50, 0, 0.7);
}

.psycho {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(157, 0, 255);
  background-color: rgb(157, 0, 255);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(157, 0, 255, 0.7);
}

.fairy {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(255, 0, 255);
  background-color: rgb(255, 0, 255);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(255, 0, 255, 0.7);
}

.water {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(0, 106, 255);
  background-color: rgb(0, 106, 255);
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 120, 255, 0.7);
}

.kristall {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid conic-gradient(from 45deg, red, yellow, green, cyan, blue, purple, red);
  background: conic-gradient(
    from 45deg,
    red,
    yellow,
    green,
    cyan,
    blue,
    purple,
    red
  );
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(conic-gradient(from 45deg, red, yellow, green, cyan, blue, purple, red), 0.7);
}

.unlicht {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(38, 23, 58);
  background-color: rgb(38, 23, 58);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(38, 23, 58, 0.7);
}

.steel {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(86, 88, 89);
  background-color: rgb(86, 88, 89);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(86, 88, 89, 0.7);
}

.electro {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(222, 222, 0);
  background-color: rgb(222, 222, 0);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(222, 222, 0, 0.7);
}

.ice {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(153, 236, 255);
  background-color: rgb(153, 236, 255);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(153, 236, 255, 0.7);
}

.dragon {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(144, 106, 63);
  background-color: rgb(144, 106, 63);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(144, 106, 63, 0.7);
}

.normal {
  margin-top: -15px;
  margin-left: 30px;
  border: 5px solid rgb(160, 160, 160);
  background-color: rgb(160, 160, 160);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 15px rgb(160, 160, 160, 0.7);
}